:root {
  --primary-color: #262262;
  --secondary-color: #ED2624;
}
.navbar-top{
    background-color: var(--primary-color);
    color: white;
    padding: 8px 0px;
}
.navbar-container{
    font-family: "DM Sans";
}
.navbar-top-list{
    font-size: 13px;
    font-family: "Inter";
    font-weight: 500;
}
.navbar-top-social-icons{
    font-size: 18px !important;
}
.navbar-main{
    padding: 15px 0;
    background-color: white;
}
.navbar-main-right li{
    font-size: 17px;
    font-weight: 500;
    font-family: "Dm Sans";
}
.navbar-main-btn button{
    background-color: var(--secondary-color);
    padding: 12px 32px;
    font-weight: 600 !important;
    color: white;
    border-radius: 10px;
}
.mobile-hamburger button{
    font-size: 40px;
}
.navbar-main-btn button:hover{
    background-color: var(--primary-color);
    transition: 400ms;
}
.navbar-main-btn button:active{
    background-color: var(--primary-color);
}

@media (max-width: 1080px) {
    .navbar-top{
        display: none;
    }
    .navbar-top-container, .navbar-main-container{
        padding: 8px 17px !important;
    }
    .navbar-logo img{
        width: 100px !important;
        height: auto !important;
    }
}