:root {
  --primary-color: #262262;
  --secondary-color: #ED2624;
}
.about-page-container{
    border-radius: 20px !important; 
    overflow: hidden !important;
    height: 500px !important;
    width: 100%;
    position: relative;
    display: flex;
    align-items: end;
    font-family: "Dm Sans";
    padding-bottom: 50px;
}
.about-page-container::before {
   content: "";
   position: absolute;
   inset: 0;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
   z-index: 1;
   pointer-events: none;
}
.about-content-container{
    position: relative; /* Needed for z-index to apply */
    z-index: 4;
}
.about-content-page-heading{
    font-size: 45px !important;
    font-family: "Dm Sans";
    font-weight: 600;
    color: white !important;
    width: 50%;
    line-height: 56px;
}
.about-content-page-description{
    font-size: 14px;
    font-family: "Inter";
    font-weight: 500;
    color: rgb(230, 230, 230);
    line-height: 20px;
    width: 50%;
}
.about-content-breadcrumbs{
    padding-top: 20px;
}
.about-content-left-heading,.coperative-loactions-heading{
    font-size: 30px;
    font-weight: 600;
    font-family: "Dm Sans";
}
.about-content-left-heading-hightlight,.coperative-loactions-highlight{
    color: var(--secondary-color) !important;
}
.about-content-left-description{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 550;
    color: #1e1e1e;
}
.about-content-background{
    width: 100%;
    height: 500px;
    background-color: var(--primary-color);
    border-radius: 20px;
}
.about-content-image{
    width: 100%;
    img{
        width: 100%;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
    }
}
.about-content,.coperative-locations{
    padding: 100px 0px;
}

/* track order */
.track-form-heading{
    font-family: "Dm Sans";
    font-weight: 600;
    font-size: 30px;
    color: var(--primary-color);
}
.track-form-sub-heading{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    color: #4c4c4c;
}
.track-form-status-head{
    font-family: "Dm Sans";
    font-weight: 500;
    font-size: 16px;
}
.track-form-tab-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 10px 20px;
}
.track-form-btn{
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Dm Sans";
    border: none;
    outline: none;
    border-radius: 10px;
}
.track-form-btn:hover{
    background-color: #d31411;
    transition: 400ms;
}
.track-form-data-heading{
    font-size: 13px;
    font-family: "Dm Sans";
    font-weight: 600;
    color: var(--primary-color);
}
.track-form-data-sub-heading{
    font-size: 10px;
    font-family: "Inter";
    font-weight: 400;
}
.track-form-mode-heading{
    font-size: 14px;
    color: #1e1e1e;
    font-family: "Dm Sans";
}
.track-form-validation{
    font-size: 14px;
    font-family: "Dm Sans";
}
.track-title-description{
    padding-top: 10px;
}
.tracking-journey-section{
    padding: 80px 0px;
}
@media (max-width:1080px) {
    .coperative-locations,.about-content,.mission-vision{
        padding: 80px 17px;
    }
    .about-content-page-heading, .about-content-page-description{
        width: 100%;
    }
    .about-content-page-heading{
        font-size: 28px !important;
        line-height: 36px;
    }
    .about-content-page-description{
        display: none;
    }
    .about-banner{
        padding: 0px 17px;
    }
    .about-page-container{
        padding: 30px 30px !important;
        height: 350px !important;
        display: flex;
        flex-direction: column;
        justify-content: end;
        
    }
    .about-content-image img{
        height: 350px;
    }
    .track-form-heading{
        font-size: 22px;
    }
    .track-title-description{
        text-align: left;
    }
    .track-list-flex{
        display: flex;
        gap: 10px;
        padding: 10px;
    }
}